@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-pink: hsl(275, 100%, 97%);
  --clr-grayish-purple: hsl(292, 16%, 49%);
  --clr-dark-purple: hsl(292, 42%, 14%);
  --clr-purple-accent: hsl(280.92deg 82.98% 53.92%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--clr-light-pink);
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  height: 40dvh;
  @media (max-width: 375px) {
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }
}

summary {
  list-style: none;
  color: var(--clr-dark-purple);
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
}
summary:hover {
  color: var(--clr-purple-accent);
  cursor: pointer;
}
summary::after {
  content: url("../assets/images/icon-plus.svg");
}
details[open] summary::after {
  content: url("../assets/images/icon-minus.svg");
}
details {
  margin: 2rem auto;
}
p {
  font-size: 16px;
  margin: 2rem auto;
  line-height: 1.5rem;
  color: var(--clr-grayish-purple);
}
h1 {
  color: var(--clr-dark-purple);
  font-size: 3.5rem;
  font-weight: 700;
  column-gap: 1.25rem;
}
h1::before {
  content: url("../assets/images/icon-star.svg");
}

summary,
h1 {
  display: flex;
  align-items: center;
}

#card {
  background-color: var(--clr-white);
  padding: 1rem 2.5rem;
  border-radius: 0.75rem;
  margin-inline: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(198 169 201 / 25%) 0px 20px 25px 8px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px 0px;
  max-width: 800px;
  @media (max-width: 375px) {
    max-width: 80%;
  }
}
